<div id="view-dashboard">
    <div class="jumbotron">
        <h1 class="display-4">Hello Trader !</h1>
        <p class="lead">Feel free to contribute to this projet on github.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-dark btn-lg" href="#" role="button"><span data-feather="github"></span> github</a>
            <a class="btn btn-info btn-lg" href="https://twitter.com/karl_crypto" role="button"><span data-feather="twitter"></span> twitter</a>
        </p>
    </div>
</div>