<div id="view-trailing-stops">

    <h1 class="h1">Trailing Stops</h1>


    <div ng-hide="trailingStops" class="alert waring" role="alert">
        Loading…
    </div>
    <div ng-show="trailingStops">
        <trailing-stops-directive trailing-stops="trailingStops.active" distance="true" hideAssets="$parent.hideAssets"></trailing-stops-directive>

        <h1 class="h1">Old Trailing Stops</h1>
        <trailing-stops-directive trailing-stops="trailingStops.history" distance="false" hideAssets="$parent.hideAssets"></trailing-stops-directive>
    </div>
</div>