<p ng-show="trailingStops.length===0">No trailing stops yet !</p>
<div class="table-responsive" ng-show="trailingStops.length>0">
    <table class="table table-striped text-center align-middle">
        <thead class="thead-light">
        <tr>
            <th scope="col" colspan="{{distance?4:3}}" style="background: none; border-top:0 none; border-left:0 none">&nbsp;</th>
            <th scope="col" colspan="2">Current</th>
            <th scope="col" colspan="3" style="background: none; border-top:0 none; border-left:0 none">&nbsp;</th>
        </tr>
        <tr>
            <th scope="col" width="7%">Symbol</th>
            <th scope="col" ng-show="distance">Distance</th>
            <th scope="col" width="10%">Bought</th>
            <th scope="col" width="10%">Stop</th>
            <th scope="col" width="10%">Value</th>
            <th scope="col" width="10%">Price</th>
            <th scope="col" width="10%">Status</th>
            <th scope="col" width="11%">Action</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="trailingStop in trailingStops">
            <!-- Symbol name : TRXETH -->
            <td class="align-middle">
                <strong>{{trailingStop.Symbol.name}}</strong>
            </td>

            <!-- Distance -->
            <td class="align-middle" ng-show="distance">
                <div class="progress" ng-show="trailingStop.distance">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{trailingStop.distance.ratio*100|number:2}}%" aria-valuenow="30"
                         aria-valuemin="0" aria-valuemax="100">{{trailingStop.distance.pips}}
                    </div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{100-trailingStop.distance.ratio*100|number:2}}%" aria-valuenow="20"
                         aria-valuemin="0" aria-valuemax="100">{{trailingStop.margin.pips-trailingStop.distance.pips}}
                    </div>
                </div>
            </td>

            <!-- Bought -->
            <td class="align-middle">
                <div ng-show="trailingStop.buy.price">
                    {{trailingStop.buy.price|number:trailingStop.Symbol.pips.digits}}
                    <div>&times;<strong ng-class="{blur:$parent.$parent.hideAssets}">{{trailingStop.quantity}}</strong></div>
                </div>
                <div ng-hide="trailingStop.buy.price">
                    -
                </div>
            </td>

            <!-- Minimum Gain -->
            <td class="align-middle">
                {{trailingStop.stop.last|number:trailingStop.Symbol.pips.digits}}
                <div ng-show="trailingStop.buy.price && gainToStopRatio(trailingStop)" class="font-weight-bold"
                     ng-class="{'text-success':gainToStopRatio(trailingStop)>0,'text-danger':gainToStopRatio(trailingStop)<0}">
                    {{gainToStopRatio(trailingStop)>0?'+':''}}{{gainToStopRatio(trailingStop)*100|number:2}}%
                </div>
                <div ng-show="!trailingStop.buy.price && gainOffStopRatio(trailingStop)" class="font-weight-bold"
                     ng-class="{'text-success':gainOffStopRatio(trailingStop)>0}">
                    +{{gainOffStopRatio(trailingStop)*100|number:2}}%
                </div>
            </td>

            <!-- Current value in quote Asset -->
            <td class="text-right" ng-class="{blur:$parent.$parent.hideAssets}">
                <span ng-show="trailingStop.buy.value">
                    {{trailingStop.buy.value|number:8}} {{trailingStop.Symbol.infos.quoteAsset}}
                </span>
                <span ng-show="trailingStop.current.value"
                      ng-class="{'text-success':trailingStop.current.ratio>0,'text-danger':trailingStop.current.ratio<0}">
                    {{trailingStop.current.ratio>0?'+':''}}{{trailingStop.current.value|number:8}}&nbsp;{{trailingStop.Symbol.infos.quoteAsset}}
                </span>
            </td>

            <!-- Current price -->
            <td class="align-middle">
                <span class="font-weight-bold">{{trailingStop.price|number:trailingStop.Symbol.pips.digits}}</span>
                <div ng-show="trailingStop.price && trailingStop.buy.price" class="font-weight-bold"
                     ng-class="{'text-success':gainToCurrentRatio(trailingStop)>0,'text-danger':gainToCurrentRatio(trailingStop)<0}">
                    {{gainToCurrentRatio(trailingStop)>0?'+':''}}{{gainToCurrentRatio(trailingStop)*100|number:2}}%
                </div>
            </td>

            <!-- Status -->
            <td class="align-middle">
                <span ng-show="shouldShowStatusMessage(trailingStop)" class="text-info">{{trailingStop.statusMessage}}</span>
                <time ng-hide="shouldShowStatusMessage(trailingStop)" am-time-ago="{{trailingStop.start.time}}"></time>
            </td>

            <!-- Action -->
            <td class="align-middle">
                <button type="button" class="btn btn-info btn-sm" ng-click="edit(trailingStop)" ng-hide="trailingStop.status.value===3||trailingStop.status.value===4">edit</button>
                <button type="button" class="btn btn-info btn-sm" ng-click="edit(trailingStop)" ng-show="trailingStop.status.value===4">infos</button>
                <button type="button" class="btn btn-danger btn-sm" ng-click="stop(trailingStop)">X</button>
            </td>
        </tr>

        </tbody>
    </table>

</div>